body, html {
    width: 100vw;
    height: 100vh;
    box-sizing:border-box;
    margin: 0;
    background-color:#081C16; 
    color: #FFFFFF;
    font-family: IBM Plex Sans;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header ul {
    margin:0;
    width: 100vw; 
    height: 80px;
    background-color: #111111; 
    display:flex;
    position: fixed;
    gap:33.3%;
}

li {
    font-size: 1.5rem;
}

li button{
    font-size: 1.5rem;
}

.header li {
    display:flex;
    list-style: none;
    align-items: center ;
    width: 80%;
}

.header button:hover {
    background-color: #FFFFFF;
    color: #03E3BA;
    border: solid 3px #03E3BA;
    font-size: 1.4rem;
}

.menu ul{
    display: none;
    margin-top:0;
    margin-left: -10%;
    padding: 0;
    width: 650px;
    }
  
.menu input:checked  ~ ul{
    display:block;
  }

.menu input {
    display: none;
  }

.menu label {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    font-weight: 700;
    user-select: none;
  }

.menu li {
    display: block;
    background:#111111;
    text-align: left;
    padding: 40px;
    border-bottom: 1px solid #141414;
  }

.menu ul a{
    text-decoration-line: none;
    color:#FFFFFF;
}

main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;
}

.saludo {
    display: flex;
    width: 75%;   
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

h1 {
    font-size: 17.5rem;;
    font-weight: 700;
    margin: 0;
}

.saludo .hola {
    margin-top: 160px;
    padding: 20px;
}

.saludo :nth-child(2) {
    font-size: 1.7rem;
 }

 .text-green {
    margin-top: -56px;
    filter: blur(5px);
    font-size: 3rem;
    font-weight: 300;
 }
 
 .sector{
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px #03E3BA;
    border-bottom: solid 0.5px #03E3BA;
}

.hashtag-box h4 {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.5rem;
    letter-spacing: 0.06rem;
}

.hashtag-box {
    display: flex;
    background-color: black;
    width: 700px;
    height: 500px;  
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.claves { 
    display: flex;
    width: 70%;
    margin:0;
    padding: 0;
    align-items:flex-start;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
}

h5{
    font-size: 7rem;
    font-weight: 300;
}

article  {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: justify;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    flex-wrap: wrap;
}

article p{
    display: flex;
    font-size: 1.3rem;
    width: 70%;
    margin-top: -80px;
    justify-content: space-between;
    align-items: baseline;
    text-align: justify;
    flex-wrap: wrap;
}

.claves article :nth-child(4){
    flex:0 0 100%;
}

sup {
    font-weight: 300;
    font-size: 2rem;
}

p{
    margin: 1.3rem 0 ;
    text-align: justify;
    padding: 8px;
}

h4 {
    font-size: 3rem;
    font-family: IBM Plex Sans;
    font-weight: 400;
}

.bio{
    font-size: 1.3rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.resumen{
    font-size: 1.3rem;
    padding:8%;
}

#circulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #03E3BA;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 100px;
    }

#circulo img {
    margin-top: 90px;
}

.nombre{
    color:#03E3BA;
    margin-top:30px;
    border-top: solid 1px #03E3BA;
}

.links {
    justify-content: space-between;
    align-items:center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70% ;
}


.links button {
    justify-content: center;
    align-items:center;
    text-align: center;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    width: 49% ;
    padding: 8px;
    background-color: #03E3BA;
    color:#ffff;
}


.form-box{
    padding: 20px ;
    font-size: 1.2rem;
    font-weight: 500;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    }

.form-box div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    }

address {
    align-items: flex-end;
    font-size: 1.2rem;
    flex:1;
    color:#081C16;
    }

main .footer {
    display: flex;
    flex-direction: column;
   
   
}

.background-footer {
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:40px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.background-footer div{
    display: flex;
}

footer .footer-menu a {
    text-decoration-line: none;
    color:#081C16;
    font-size: 1.2rem ; 
    font-weight: 500;
}

.footer a{
    text-decoration-line: none;
    color:#081C16; 
    font-size: 1rem ; 
    font-weight: 400;
}

.footer-logo {
    margin:0;
    padding: 8px;
    width: 100vw;
    height: 65px;
    background-color: #282828;
    align-self:flex-end;
    text-align: center;
}


/* colores */

::selection {
    color:#adff2f;
}

button {
    color:#03E3BA;
    background: transparent;
    border-color: #03E3BA;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 4px 8px;
}

li, span, sup, .saludo h3 {
    color: #03E3BA;
    font-family:  IBM Plex Sans;
    font-weight: 400;
    list-style: none;
}

hr{ 
    align-items: center;
    border: solid 10px #03E3BA;
}

.hashtag-box :nth-child(3) {
    color:#03E3BA
}

p {
    color: #d4cdc5;
}

.header .menu:hover {
    color:#FFFFFF;
}

.menu a:hover{
    color:#03E3BA;
}

.enviar-mensaje textarea{
    color:#141414;
    background-color:#282828;
}


.links button:hover{
    background-color: #FFFFFF;
    color:#03E3BA;
    border:solid 3px #03E3BA;
}

div .footer-menu a :hover {
    color:#03E3BA;
}

.footer a:hover {
    color:black;
}


/*img-background*/


.background-footer {
    background-image: url("../img/background-contact_desktop.png");
    background-repeat: no-repeat;
    background-size : 70%;
    background-position: contain;
    background-position: center;
}

/*media query*/


@media (max-width: 2183px) {
    .claves article :nth-child(2){
        flex-basis:100%;
    }
    .claves article :nth-child(6){
        flex-basis:100%;
    }
}