body, html {
    width: 100vw;
    height: 100vh;
    box-sizing:border-box;
    margin: 0;
    background-color:#141414 ;
    color: #FFFFFF;
    font-family: IBM Plex Sans;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header ul {
    margin:0;
    width: 100vw; 
    height: 80px;
    background-color: #282828; 
    display:flex;
    flex: 1; 
    position: fixed;
    justify-content: space-around;
}

.header li {
    display:flex;
    font-size: 1.6rem;
    list-style: none;
    justify-content: center;
    align-items: center ;
}

li button {
    font-size: 1.5rem;
}

main {
    display: flex;
    width: 75%;   
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.saludo {
    display: flex;
    width: 75%;   
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

h1 {
    font-size: 17.5rem;;
    margin: 0;
}

.saludo .hola {
    margin-top: 160px;
    padding: 20px;
}

.saludo :nth-child(2) {
    font-size: 20px;
 }

 .text-green {
    margin-top: -40px;
    filter: blur(4px);
    font-size: 3rem;
    font-weight: 300;
 }
 
 .sector{
    padding: 120px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    
}

.hashtag-box {
    display: flex;
    background-color: black;
    width: 400px;
    height: 300px;
    width: 75%;   
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.claves { 
    justify-content: space-between;
    align-items:center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: auto;
}

.claves h3  {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.claves p {
    font-size: 1.5rem;
    
}

sup {
    font-weight: 300;
    font-size: 1rem;
}

p{
    margin: 0 35px;
    text-align: justify;
    padding:8px;
    font-size: 1.2rem;
}
h4 {
    font-size: 16px;
    font-family: IBM Plex Sans;
    font-weight: 400;
}

.bio{
    font-size: 1.2rem;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
}

.links {
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.links button {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin:8px;
    width: 50% ;
    justify-content: space-between;
    background-color: #03E3BA;
    color:#141414;
    
}
.form {
    font-size: 1.2rem;
    width: 80%;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
/* colores */

button {
    color:#03E3BA;
    background: transparent;
    border-color: #03E3BA;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 4px 8px;
}

li, span, sup, .saludo h3 {
    color: #03E3BA;
    font-family:  IBM Plex Sans;
    font-weight: 400;
}

.hashtag-box :nth-child(2) {
    color:#03E3BA
}

p {
    color: #FFFFFF;
}

.footer {
    align-self:flex-end;
}

/*img-background*/
.footer {
    width: 75%;
    height: 130px;
    list-style: none;
}
.background-footer {
    background-image: url('img/background-contact_desktop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}


  